.img {
  background-image: url('https://support.apple.com/content/dam/edam/applecare/images/en_US/psp/hero-education-landing.image.large_2x.jpg');
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}