<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item active">
        <a class="nav-link" routerLink="dashbord">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="list">List Of Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="form">Register New Student</a>
      </li>
    </ul>
  </div>
</nav>
<section class="container">
  <router-outlet></router-outlet>
</section>
